/** 
 * COLOR
 * --
 * Set the default values according to your preference.
**/
// Color Text
.clr--primary { color: $color--primary; }

.clr--white { color: $color--white; }
.clr--gray--100 { color: $color--gray--100; }
.clr--gray--200 { color: $color--gray--200; }
.clr--gray--300 { color: $color--gray--300; }
.clr--gray--400 { color: $color--gray--400; }
.clr--gray--500 { color: $color--gray--500; }
.clr--gray--600 { color: $color--gray--600; }
.clr--gray--700 { color: $color--gray--700; }
.clr--gray--800 { color: $color--gray--800; }
.clr--gray--900 { color: $color--gray--900; }
.clr--black { color: $color--black; }


// Background Color
.bg--primary { background: $color--primary; }

.bg--white { background: $color--white; }
.bg--gray--100 { background: $color--gray--100; }
.bg--gray--200 { background: $color--gray--200; }
.bg--gray--300 { background: $color--gray--300; }
.bg--gray--400 { background: $color--gray--400; }
.bg--gray--500 { background: $color--gray--500; }
.bg--gray--600 { background: $color--gray--600; }
.bg--gray--700 { background: $color--gray--700; }
.bg--gray--800 { background: $color--gray--800; }
.bg--gray--900 { background: $color--gray--900; }
.bg--black { background: $color--black; }
