/*
* Frame Container
* frm-cntnr : frame contianer
*/
.frm-cntnr {
	position: relative;
	margin: auto;
	height: 100%;
	box-sizing: border-box;

	&.align-r {
		margin: 0;
		margin-left: auto;
	}

	&.align-l {
		margin: 0;
		margin-right: auto;
	}
}

/** 
 * Frame Padding
 * frm-padding : frame padding
 */
.frm-padding { padding: $frm-padding; }

/** 
 * Frame Background
 * frm-bckgrnd : frame background
 */
.frm-bckgrnds {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: $frame-bg--pos__c;

	&.bring-front {
		z-index: -1;
	}
	&.bring-back {
		z-index: -2;
	}
	&.size-cover {
		background-size: cover;
	}
	&.size-contain{
		background-size: contain;
	}
	&.align-r {
		background-position: $frame-bg--pos__r;
	}
	&.align-l {
		background-position: $frame-bg--pos__l;
	}
	&.align-c {
		left: 50%;
		transform: translateX(-50%);
	}
	&.align-t {
		background-position: $frame-bg--pos__t;
	}
}

.page-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    &.page-bg--cover {
        @extend %bg-center-cover-nr;
    }

    &.page-bg--contain {
        @extend %bg-center-contain-nr;
    }

    &.page-video {
        object-fit: cover;
    }

    &.bring-back { z-index: -2; }
    &.bring-front { z-index: -1; }

    &.align-r {
		background-position: $frame-bg--pos__r;
	}
	&.align-l {
		background-position: $frame-bg--pos__l;
	}
	&.align-c {
		left: 50%;
		transform: translateX(-50%);
	}
	&.align-t {
		background-position: $frame-bg--pos__t;
	}

	&.align-b {
		background-position: $frame-bg--pos__b;
	}

	&.align-br {
		background-position: $frame-bg--pos__r;
	}
}

.page-bg--16-9 {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}

.page-bg--3-2 {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 66.66%;
}

.page-bg--100 {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

.page-bg--4-3 {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 75%;
}

.page-bg--21-9 {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 42.86%;
}

.page-bg--18-6 {
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 33.33%;
}