.page-grid {
	display: grid;

	&.grid-2 {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 30px;
	}

	&.grid-3 {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-column-gap: 30px;
		grid-row-gap: 30px;
	}

	&.grid-4 {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	&.no-gap {
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.page__gridChild {
		position: relative;
		width: 100%;
		height: auto;
		overflow: hidden;
	}
}